.add-user-container {
  width: 350px;
  margin: 60px auto;
  background: rgba(255,255,255,0.1);
  padding: 25px;
  border-radius: 15px;
  background-color: #ff416c;
  color: #1c1a1a;
  font-family: 'Poppins', sans-serif;
  text-align: center;
}

.add-user-container input,
.add-user-container select {
  width: 100%;
  padding: 10px;
  margin: 8px 0 15px 0;
  border-radius: 8px;
  border: none;
  outline: none;
}

.add-user-container button {
  background: #fff;
  color: #ff416c;
  border: none;
  padding: 10px 20px;
  border-radius: 25px;
  cursor: pointer;
  font-weight: 600;
}
